In [2]:
import pickle
import numpy as np
import pandas as pd
import os
import warnings
warnings.filterwarnings('ignore')
import tensorflow as tf

C:\ProgramData\Anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.21-gcc_10_3_0.dll
C:\ProgramData\Anaconda3\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [3]:
with open('df_sector_UTD.pickle','rb') as f:
    df_sector_UTD = pickle.load(f)
with open('certificated_stock_dic.pickle','rb') as f:
    certificated_stock_dic = pickle.load(f)
with open('X_scaler_dic.pickle','rb' ) as f:
    X_scaler_dic = pickle.load(f)
with open('y_scaler_dic.pickle','rb' ) as f:
    y_scaler_dic = pickle.load(f)

In [6]:
df_sector_UTD['Brokerage']['008560']

           일자       거래량    시가    고가    저가    종가
0  2023-03-28   1759975  6210  6370  6130  6280
1  2023-03-29   1044126  6340  6340  6140  6210
2  2023-03-30  39013061  6110  6350  6060  6300
3  2023-03-31  11889109  6250  6520  6070  6100
4  2023-04-03         0     0     0     0  6100
5  2023-04-04         0     0     0     0  6100
6  2023-04-05         0     0     0     0  6100
7  2023-04-06         0     0     0     0  6100
8  2023-04-07         0     0     0     0  6100
9  2023-04-10         0     0     0     0  6100
10 2023-04-11         0     0     0     0  6100
11 2023-04-12         0     0     0     0  6100
12 2023-04-13         0     0     0     0  6100
13 2023-04-14         0     0     0     0  6100
14 2023-04-17         0     0     0     0  6100
15 2023-04-18         0     0     0     0  6100
16 2023-04-19         0     0     0     0  6100
17 2023-04-20         0     0     0     0  6100
18 2023-04-21         0     0     0     0  6100

In [5]:
certificated_stock_dic

{'Food': ['097950', '271560', '000080', '004370', '005300'],
 'Clothing': ['093050', '020000', '105630', '001070'],
 'Chemical': ['051910', '096770', '010950', '051900', '090430'],
 'Medicine': ['207940', '068270', '000100', '128940'],
 'Non_Metal': ['003410', '010780'],
 'Metal': ['005490', '010130', '004020', '001230'],
 'Machine': ['034020', '018880', '241560', '112610'],
 'Electronic': ['005930', '000660', '066570'],
 'Construction': ['000720', '006360', '047040', '051600'],
 'Transport': ['011200', '003490', '086280', '180640', '028670'],
 'Distribution': ['028260', '023530', '282330', '139480', '004170'],
 'Power': ['015760', '036460', '017390'],
 'Tele': ['017670', '030200', '032640'],
 'Finance': ['003550', '000810', '006800'],
 'Brokerage': ['005940', '016360', '008560', '039490'],
 'Insurer': ['032830', '005830', '000060', '001450'],
 'Service': ['018260', '036570'],
 'Manufacturer': ['005380', '000270', '012330', '033780', '009150']}