# 1. 환경설정

In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import warnings
warnings.filterwarnings('ignore')
import time
import pickle
from tqdm import tqdm

In [2]:
import pickle
with open('sector.pickle','rb') as f:
    sector = pickle.load(f)

# 2. 일별 종가 데이터 수집 - 10개
키움API는 구름IDE에서 실행이 안되어 따로 웹크롤링

In [3]:
def get_stock_price(code, num_of_pages):
    url = f"http://finance.naver.com/item/sise_day.nhn?code={code}" 
    bs = BeautifulSoup(requests.get(url=url, headers = headers).text, 'html.parser')
    pgrr = bs.find("td", class_="pgRR")
    last_page = int(pgrr.a["href"].split('=')[-1])
    pages = min(last_page, num_of_pages) # 마지막 페이지와 가져올 페이지 수 중에 작은 값 선택
    df = pd.DataFrame()

    for page in range(1, pages+1):
        page_url = '{}&page={}'.format(url, page)
        df = df.append(pd.read_html(requests.get(page_url, headers={'User-agent': 'Mozilla/5.0'}).text)[0])
        
    df['일자'] = pd.to_datetime(df['날짜']) 
    df = df.dropna()
    df[['종가',  '시가', '고가', '저가', '거래량']] = df[['종가', '시가', '고가', '저가', '거래량']].astype(int) # int형으로 변경
    df = df[['일자', '거래량','시가', '고가', '저가','종가']] # 컬럼 순서 정렬
    df = df.sort_values(by = '일자') # 날짜순으로 정렬
    df = df.loc[::-1].reset_index(drop=True)
    return df

In [4]:
headers = {'User-agent': 'Mozilla/5.0'}
pages = 1
df_sector_UTD = {}
for sector_name in sector:
    df_sector_UTD[sector_name] = {}

In [5]:
for sector_name, code_list in sector.items():
    for stock_code in tqdm(code_list):
        df_sector_UTD[sector_name][stock_code] = get_stock_price(stock_code,pages)
        time.sleep(0.01)

100%|███████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  2.89it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  4.74it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  4.76it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  4.74it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  4.75it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  4.70it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  4.84it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  4.76it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  4.84it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  4.82it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  4.75it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  4.76it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  4.89it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 3/3 [00:00<00:00,  4.75it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  4.81it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  4.74it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 4/4 [00:00<00:00,  4.76it/s]
100%|███████████████████████████████████████████████████████████████████████████████| 5/5 [00:01<00:00,  4.70it/s]

# 이전 data와 최신 data 병합(최신화)

In [6]:
with open('df_sector_UTD.pickle','rb') as f:
    df_sector = pickle.load(f)

In [7]:
for sector_name, df_dict in df_sector.items():
    for stock_code, df in df_dict.items():
        df = pd.concat([df_sector_UTD[sector_name][stock_code],df_sector[sector_name][stock_code]],axis=0)
        df=df.drop_duplicates(subset=['일자'])
        df = df.sort_values(by=df.columns[0],ascending=True)
        df = df.reset_index(drop=True)
        df_sector_UTD[sector_name][stock_code] = df

In [8]:
df_sector_UTD['Food']['097950']

             일자     거래량      시가      고가      저가      종가
0    2010-06-07   48198  210500  213500  209500  212000
1    2010-06-08   50727  211000  213500  209500  211000
2    2010-06-09   52375  212000  218000  210500  214000
3    2010-06-10   61195  214500  219500  213500  219000
4    2010-06-11   89684  217000  220000  211500  214500
...         ...     ...     ...     ...     ...     ...
3004 2022-08-08   28337  389000  394500  386000  394500
3005 2022-08-09  265521  402000  437000  402000  428500
3006 2022-08-10   66726  426500  428500  414500  423500
3007 2022-08-11   66420  425000  425000  417000  421500
3008 2022-08-12   43541  419000  422000  414000  416500

[3009 rows x 6 columns]

In [9]:
df_sector_UTD

{'Food': {'097950':              일자     거래량      시가      고가      저가      종가
  0    2010-06-07   48198  210500  213500  209500  212000
  1    2010-06-08   50727  211000  213500  209500  211000
  2    2010-06-09   52375  212000  218000  210500  214000
  3    2010-06-10   61195  214500  219500  213500  219000
  4    2010-06-11   89684  217000  220000  211500  214500
  ...         ...     ...     ...     ...     ...     ...
  3004 2022-08-08   28337  389000  394500  386000  394500
  3005 2022-08-09  265521  402000  437000  402000  428500
  3006 2022-08-10   66726  426500  428500  414500  423500
  3007 2022-08-11   66420  425000  425000  417000  421500
  3008 2022-08-12   43541  419000  422000  414000  416500

  [3009 rows x 6 columns],
  '271560':              일자      거래량      시가      고가      저가      종가
  0    2017-07-07  1619864   87100   89700   75700   82300
  1    2017-07-10   840451   82300   88000   81000   88000
  2    2017-07-11   422303   88000   88000   82700   82800
  3    2017-07-12   238407   83700   84600   80000   83500
  4    2017-07-13   218138   83400   84000   80800   81600
  ...         ...      ...     ...     ...     ...     ...
  1250 2022-08-08   135742   99500  103000   98100  102000
  1251 2022-08-09   147330  102500  106500  102000  105000
  1252 2022-08-10   151113  106500  109500  105500  106500
  1253 2022-08-11   107924  106500  107500  105000  106000
  1254 2022-08-12    68391  105500  107000  103000  104500

  [1255 rows x 6 columns],
  '000080':              일자     거래량     시가     고가     저가     종가
  0    2010-06-07   71954  32400  32600  31900  32550
  1    2010-06-08   41464  32150  32850  32150  32600
  2    2010-06-09   38492  32650  32800  32450  32500
  3    2010-06-10   65568  32550  32900  32400  32700
  4    2010-06-11   71145  32900  33800  32700  33800
  ...         ...     ...    ...    ...    ...    ...
  3004 2022-08-08  146960  31350  31400  30900  31400
  3005 2022-08-09  200928  31250  31600  31200  31450
  3006 2022-08-10  134134  31450  31450  31050  31250
  3007 2022-08-11  276818  31500  31750  31250  31700
  3008 2022-08-12  394413  31600  32700  31600  32550

  [3009 rows x 6 columns],
  '004370':              일자    거래량      시가      고가      저가      종가
  0    2010-06-07   5363  224000  228000  224000  224500
  1    2010-06-08  13195  227000  227000  220000  222000
  2    2010-06-09   9505  222500  222500  220500  222000
  3    2010-06-10  14592  222000  227000  221000  224500
  4    2010-06-11   6006  225000  228000  225000  227000
  ...         ...    ...     ...     ...     ...     ...
  3004 2022-08-08  52522  283500  295000  283000  294000
  3005 2022-08-09  54726  292500  307500  291500  298500
  3006 2022-08-10  25550  300000  304500  295000  297000
  3007 2022-08-11  15952  298000  299500  293500  298000
  3008 2022-08-12  14791  297000  298000  291000  294000

  [3009 rows x 6 columns],
  '005300':              일자    거래량      시가      고가      저가      종가
  0    2010-06-07  12950   77900   78100   77300   77700
  1    2010-06-08  17720   78300   78300   77300   78200
  2    2010-06-09  21610   77700   78200   77000   77600
  3    2010-06-10  25830   77900   78000   76800   76800
  4    2010-06-11  17700   77400   77800   76800   77600
  ...         ...    ...     ...     ...     ...     ...
  3004 2022-08-08  30404  167500  168500  165500  167500
  3005 2022-08-09  27640  168000  168500  166500  167500
  3006 2022-08-10  24935  169000  169500  165000  165500
  3007 2022-08-11  29737  165500  167000  165000  166500
  3008 2022-08-12  21874  167000  167000  165000  166000

  [3009 rows x 6 columns]},
 'Clothing': {'093050':              일자     거래량     시가     고가     저가     종가
  0    2010-06-07   92854  24700  24900  24450  24600
  1    2010-06-08  166089  24850  25650  24850  25550
  2    2010-06-09  208765  25550  26500  25350  26450
  3    2010-06-10  237507  26750  27350  26500  27050
  4    2010-06-11  175558  27050  27500  26600  26750
  ...         ...     ...    ...    ...    ...    ...
  3004 2022-08-08   31214  16950  17400  16750  17350
  3005 2022-08-09   43710  17400  17750  17000  17450
  3006 2022-08-10   30268  17350  17400  16850  16900
  3007 2022-08-11   55248  16950  17200  16900  17050
  3008 2022-08-12   28380  17050  17550  16900  17500

  [3009 rows x 6 columns],
  '020000':              일자     거래량     시가     고가     저가     종가
  0    2010-06-07  257160  13950  14050  13400  13500
  1    2010-06-08  136130  13350  13750  13350  13750
  2    2010-06-09  104960  13750  14350  13650  14000
  3    2010-06-10  126502  14050  14300  13950  14000
  4    2010-06-11   69514  14100  14350  14000  14200
  ...         ...     ...    ...    ...    ...    ...
  3004 2022-08-08   49281  31700  31900  31200  31350
  3005 2022-08-09  231418  31350  31950  29000  29450
  3006 2022-08-10  287769  29100  29850  28400  29100
  3007 2022-08-11   93041  29400  29600  29050  29450
  3008 2022-08-12   61881  29400  29750  29150  29750

  [3009 rows x 6 columns],
  '105630':              일자     거래량     시가     고가     저가     종가
  0    2010-06-07  124608   5517   5630   5404   5630
  1    2010-06-08   48616   5524   5727   5524   5682
  2    2010-06-09   25585   5675   5735   5592   5697
  3    2010-06-10   60671   5630   5697   5584   5630
  4    2010-06-11   19298   5690   5690   5532   5622
  ...         ...     ...    ...    ...    ...    ...
  3004 2022-08-08  323636  18000  18000  17550  17550
  3005 2022-08-09  330895  17550  18150  17350  17950
  3006 2022-08-10  480664  17800  17900  16850  16950
  3007 2022-08-11  276569  17300  17350  17050  17150
  3008 2022-08-12  436955  17150  17900  17150  17550

  [3009 rows x 6 columns],
  '001070':              일자    거래량     시가     고가     저가     종가
  0    2010-06-07   8000   5300   5420   5240   5390
  1    2010-06-08   9655   5340   5500   5240   5470
  2    2010-06-09   3100   5520   5520   5340   5450
  3    2010-06-10  13150   5400   5400   5220   5280
  4    2010-06-11   8840   5360   5740   5320   5740
  ...         ...    ...    ...    ...    ...    ...
  3004 2022-08-08   1795  50900  51500  50800  51300
  3005 2022-08-09  10952  50600  52200  50600  52100
  3006 2022-08-10    467  51700  52700  51700  52100
  3007 2022-08-11    857  51700  52700  51300  51900
  3008 2022-08-12   2158  51400  52100  51200  51200

  [3009 rows x 6 columns]},
 'Chemical': {'051910':              일자     거래량      시가      고가      저가      종가
  0    2010-06-07  370295  280000  289000  277000  286000
  1    2010-06-08  254900  286500  291000  285000  288000
  2    2010-06-09  251091  290000  290000  285000  289000
  3    2010-06-10  270990  289000  290500  283000  290000
  4    2010-06-11  241134  294000  294000  285500  290500
  ...         ...     ...     ...     ...     ...     ...
  3004 2022-08-08  202613  637000  654000  634000  652000
  3005 2022-08-09  345726  666000  681000  653000  671000
  3006 2022-08-10  219243  671000  672000  646000  648000
  3007 2022-08-11  241071  655000  679000  649000  658000
  3008 2022-08-12  180919  653000  665000  645000  665000

  [3009 rows x 6 columns],
  '096770':              일자     거래량      시가      고가      저가      종가
  0    2010-06-07  671639  106000  106500  103500  106000
  1    2010-06-08  403667  105500  106500  104500  105000
  2    2010-06-09  370062  105000  108000  105000  105500
  3    2010-06-10  609909  107500  109000  106500  106500
  4    2010-06-11  339220  109500  110000  107000  108500
  ...         ...     ...     ...     ...     ...     ...
  3004 2022-08-08  651798  186500  196000  185500  195500
  3005 2022-08-09  425781  196000  198500  193500  195000
  3006 2022-08-10  237732  195000  196000  190500  191000
  3007 2022-08-11  378531  195000  199500  193500  198500
  3008 2022-08-12  315448  198500  204500  196000  199500

  [3009 rows x 6 columns],
  '010950':              일자     거래량     시가     고가     저가     종가
  0    2010-06-07  281081  51800  52800  50900  51000
  1    2010-06-08  210874  51000  51700  50800  51200
  2    2010-06-09  391071  51200  51300  50100  50500
  3    2010-06-10  364663  50600  50900  50100  50200
  4    2010-06-11  420603  50800  51500  50700  51100
  ...         ...     ...    ...    ...    ...    ...
  3004 2022-08-08  503614  85500  86700  85400  86500
  3005 2022-08-09  467445  87200  88300  86800  87800
  3006 2022-08-10  326719  87100  88300  86800  86800
  3007 2022-08-11  627788  86800  87600  85900  87100
  3008 2022-08-12  969280  88100  90700  88100  90100

  [3009 rows x 6 columns],
  '051900':              일자    거래량      시가      고가      저가      종가
  0    2010-06-07  51655  345000  349500  334500  336000
  1    2010-06-08  24792  335000  339000  332500  335500
  2    2010-06-09  25404  333500  337500  330500  336000
  3    2010-06-10  55959  335000  337000  329500  335000
  4    2010-06-11  93322  333000  334000  321000  330500
  ...         ...    ...     ...     ...     ...     ...
  3004 2022-08-08  29273  761000  762000  744000  758000
  3005 2022-08-09  49692  759000  759000  731000  740000
  3006 2022-08-10  26570  744000  748000  732000  736000
  3007 2022-08-11  38683  745000  748000  732000  733000
  3008 2022-08-12  36210  734000  745000  727000  732000

  [3009 rows x 6 columns],
  '090430':              일자     거래량      시가      고가      저가      종가
  0    2010-06-07  165030   95900   98300   94600   97000
  1    2010-06-08  133070   97300   97500   96000   97300
  2    2010-06-09  101080   98000   99000   97300   98700
  3    2010-06-10  302410   98800  100000   97100   98300
  4    2010-06-11  199700   99600  100100   97700   98000
  ...         ...     ...     ...     ...     ...     ...
  3004 2022-08-08  296582  128500  129000  125000  125500
  3005 2022-08-09  300593  126000  126000  121500  125000
  3006 2022-08-10  158237  124500  126500  124000  125000
  3007 2022-08-11  241603  126500  127500  125500  127500
  3008 2022-08-12  121922  126500  128000  126000  126500

  [3009 rows x 6 columns]},
 'Medicine': {'207940':              일자      거래량      시가      고가      저가      종가
  0    2016-11-10  7264007  133421  146268  124032  142315
  1    2016-11-11  8236911  147751  184318  140339  159610
  2    2016-11-14  3012422  163070  175423  163070  173447
  3    2016-11-15  2623646  176906  179376  160599  164058
  4    2016-11-16  1680639  166529  170976  161587  168011
  ...         ...      ...     ...     ...     ...     ...
  1412 2022-08-08    49453  894000  900000  886000  900000
  1413 2022-08-09    38539  900000  904000  896000  902000
  1414 2022-08-10    43858  904000  910000  880000  892000
  1415 2022-08-11    71857  897000  905000  897000  904000
  1416 2022-08-12    35990  905000  910000  890000  910000

  [1417 rows x 6 columns],
  '068270':              일자      거래량      시가      고가      저가      종가
  0    2010-06-07  1542622   17461   17639   17150   17328
  1    2010-06-08  1383178   17328   17905   17194   17728
  2    2010-06-09   909685   17772   18083   17461   17994
  3    2010-06-10   842885   18261   18305   18039   18216
  4    2010-06-11  1266465   18572   18838   18261   18483
  ...         ...      ...     ...     ...     ...     ...
  3004 2022-08-08   865643  199500  204000  197000  203500
  3005 2022-08-09  1045200  205500  213500  202000  211500
  3006 2022-08-10   595536  212000  214000  209000  211500
  3007 2022-08-11   500920  213500  215000  209500  212500
  3008 2022-08-12   421968  212000  213500  205500  208000

  [3009 rows x 6 columns],
  '000100':              일자     거래량     시가     고가     저가     종가
  0    2010-06-07  163277  21624  22580  21624  22506
  1    2010-06-08  252801  22433  23389  22212  23389
  2    2010-06-09  156377  23389  23389  22874  23315
  3    2010-06-10  454031  23389  23536  22948  23536
  4    2010-06-11  367464  23389  23610  22653  23095
  ...         ...     ...    ...    ...    ...    ...
  3004 2022-08-08  163486  58200  58900  58000  58800
  3005 2022-08-09  111247  58800  59300  58600  58700
  3006 2022-08-10   98156  58900  59300  58300  58900
  3007 2022-08-11  130330  59200  59300  58500  59000
  3008 2022-08-12   99344  59000  59500  58500  58700

  [3009 rows x 6 columns],
  '128940':              일자     거래량      시가      고가      저가      종가
  0    2010-07-30  383395   57942   66633   57942   64316
  1    2010-08-02  159281   63414   63672   58264   58586
  2    2010-08-03   57060   58715   59873   58586   58715
  3    2010-08-04   99727   58715   60002   55367   58715
  4    2010-08-05  114537   59552   59552   56268   56654
  ...         ...     ...     ...     ...     ...     ...
  2965 2022-08-08   38470  320000  327500  318500  321000
  2966 2022-08-09   24570  321000  325500  319000  324000
  2967 2022-08-10   24678  324000  328500  319000  321000
  2968 2022-08-11   30208  320000  323500  316000  317500
  2969 2022-08-12   22371  317000  320000  313000  317000

  [2970 rows x 6 columns]},
 'Non_Metal': {'003670':              일자      거래량      시가      고가      저가      종가
  0    2010-06-07    91723    6862    7078    6862    7050
  1    2010-06-08    43936    7097    7135    6937    7078
  2    2010-06-09    53468    7078    7106    6900    6956
  3    2010-06-10    54074    7041    7050    6956    6956
  4    2010-06-11    77606    7031    7088    6871    6956
  ...         ...      ...     ...     ...     ...     ...
  3004 2022-08-08  1193896  137000  145500  136500  143500
  3005 2022-08-09  1898294  144500  156000  144000  151500
  3006 2022-08-10   850820  153000  155500  150500  153000
  3007 2022-08-11  1641466  156500  164500  155000  160500
  3008 2022-08-12   677547  159500  162000  157500  160000

  [3009 rows x 6 columns],
  '003410':              일자      거래량    시가    고가    저가    종가
  0    2010-06-07   391712  1120  1157  1112  1157
  1    2010-06-08   313987  1159  1164  1133  1159
  2    2010-06-09   333429  1159  1159  1131  1138
  3    2010-06-10  1011509  1133  1133  1094  1094
  4    2010-06-11   786857  1112  1118  1092  1094
  ...         ...      ...   ...   ...   ...   ...
  3004 2022-08-08   230646  6890  6930  6820  6850
  3005 2022-08-09   216553  6890  6900  6830  6850
  3006 2022-08-10   361107  6850  6880  6760  6850
  3007 2022-08-11   367501  6860  6950  6850  6950
  3008 2022-08-12   355048  6950  7030  6920  7020

  [3009 rows x 6 columns],
  '010780':              일자     거래량     시가     고가     저가     종가
  0    2010-06-07   36757   5808   5948   5795   5859
  1    2010-06-08   54032   5859   6191   5859   6153
  2    2010-06-09  109726   6217   6396   6185   6319
  3    2010-06-10  119332   6249   6908   6249   6844
  4    2010-06-11  101470   7004   7355   6588   6844
  ...         ...     ...    ...    ...    ...    ...
  3004 2022-08-08   23972  40800  40800  40250  40450
  3005 2022-08-09   66440  41200  41800  40400  40550
  3006 2022-08-10  135944  40800  42000  40800  41700
  3007 2022-08-11   89958  42350  42350  40750  41300
  3008 2022-08-12   76982  41300  42500  41300  42500

  [3009 rows x 6 columns]},
 'Metal': {'005490':              일자     거래량      시가      고가      저가      종가
  0    2010-06-07  326892  442000  451000  440500  448000
  1    2010-06-08  168069  447000  453000  442500  450000
  2    2010-06-09  269627  446000  452000  443000  447000
  3    2010-06-10  284195  450000  455000  445000  448500
  4    2010-06-11  341722  457500  466000  457000  465500
  ...         ...     ...     ...     ...     ...     ...
  3004 2022-08-08  181139  239500  241000  236500  240000
  3005 2022-08-09  318194  245500  249000  243000  246000
  3006 2022-08-10  312580  247500  251500  246000  248500
  3007 2022-08-11  378261  251500  258000  250000  257000
  3008 2022-08-12  300054  257000  261500  255500  259500

  [3009 rows x 6 columns],
  '010130':              일자     거래량      시가      고가      저가      종가
  0    2010-06-07  172670  184000  184500  180000  182500
  1    2010-06-08  150151  183000  187000  180000  183500
  2    2010-06-09  188979  187500  193000  186000  191000
  3    2010-06-10  150810  193000  198000  191500  198000
  4    2010-06-11   89388  198000  200500  195500  199500
  ...         ...     ...     ...     ...     ...     ...
  3004 2022-08-08  197036  530000  560000  524000  553000
  3005 2022-08-09   97837  551000  576000  550000  562000
  3006 2022-08-10   55920  564000  571000  554000  563000
  3007 2022-08-11   95491  565000  589000  561000  586000
  3008 2022-08-12   53549  579000  600000  579000  588000

  [3009 rows x 6 columns],
  '004020':              일자     거래량     시가     고가     저가     종가
  0    2010-06-07  659797  81900  83200  81900  82300
  1    2010-06-08  591502  82800  84300  82400  83000
  2    2010-06-09  694504  83800  85600  83100  85300
  3    2010-06-10  405120  85500  86800  84400  86500
  4    2010-06-11  499714  87500  87900  86700  87200
  ...         ...     ...    ...    ...    ...    ...
  3004 2022-08-08  212988  33300  33500  33000  33500
  3005 2022-08-09  530308  33750  34500  33450  33700
  3006 2022-08-10  444027  33650  34200  33300  34000
  3007 2022-08-11  527339  34400  34700  34000  34600
  3008 2022-08-12  466085  34400  35200  34350  35100

  [3009 rows x 6 columns],
  '016380':              일자      거래량      시가      고가      저가      종가
  0    2010-06-07     5837  480258  486661  475455  480258
  1    2010-06-08     2938  480258  491998  476523  491998
  2    2010-06-09     2197  494132  494132  482926  483460
  3    2010-06-10     2694  483993  498401  483993  493599
  4    2010-06-11     5667  501603  514943  498935  510674
  ...         ...      ...     ...     ...     ...     ...
  3004 2022-08-08   368734   12400   12500   12200   12400
  3005 2022-08-09   480988   12500   12650   12150   12250
  3006 2022-08-10  1558036   12250   13350   12150   12500
  3007 2022-08-11   588713   12650   12850   12550   12750
  3008 2022-08-12   590545   12800   13000   12550   12750

  [3009 rows x 6 columns],
  '001230':              일자     거래량     시가     고가     저가     종가
  0    2010-06-07  324353  18021  18156  17840  17976
  1    2010-06-08  204919  18066  18382  17840  18382
  2    2010-06-09  211957  18382  18518  18111  18201
  3    2010-06-10  299575  18292  18969  18247  18653
  4    2010-06-11  241281  18924  19240  18924  19060
  ...         ...     ...    ...    ...    ...    ...
  3004 2022-08-08  486667  12950  13400  12950  13350
  3005 2022-08-09  634155  13500  13800  13400  13400
  3006 2022-08-10  942778  13500  14250  13350  13900
  3007 2022-08-11  699825  14200  14350  13900  14050
  3008 2022-08-12  433736  13900  14250  13800  14200

  [3009 rows x 6 columns]},
 'Machine': {'034020':              일자       거래량     시가     고가     저가     종가
  0    2010-06-07    868367  53015  54009  52938  53474
  1    2010-06-08    733424  53244  54009  52709  53780
  2    2010-06-09   1401169  53780  56228  53015  53627
  3    2010-06-10    611957  54392  55233  54162  54468
  4    2010-06-11    602592  55463  55463  54545  54927
  ...         ...       ...    ...    ...    ...    ...
  3004 2022-08-08   3787880  18900  19350  18750  19250
  3005 2022-08-09   4577464  19300  19800  19200  19750
  3006 2022-08-10   9019644  19800  20500  19600  20200
  3007 2022-08-11   5736690  20500  20650  20100  20300
  3008 2022-08-12  14199833  20400  21700  20350  21150

  [3009 rows x 6 columns],
  '018880':              일자      거래량     시가     고가     저가     종가
  0    2010-06-07  2016100   2940   3030   2930   2980
  1    2010-06-08  1276965   3000   3090   2970   3050
  2    2010-06-09  1323250   3070   3090   3010   3080
  3    2010-06-10  2192070   3080   3130   2990   3050
  4    2010-06-11   833625   3100   3100   3020   3020
  ...         ...      ...    ...    ...    ...    ...
  3004 2022-08-08   537081  10750  10850  10550  10800
  3005 2022-08-09   725263  10700  11250  10700  11150
  3006 2022-08-10   503040  11250  11250  10800  10850
  3007 2022-08-11   595513  11000  11200  10900  11000
  3008 2022-08-12   612442  10900  11100  10700  10800


In [17]:
df_sector_UTD['Food']['097950'].iloc[2999:3007]

             일자     거래량      시가      고가      저가      종가
2999 2022-08-01   37653  391500  392000  383500  387000
3000 2022-08-02   29317  387000  388000  383000  385500
3001 2022-08-03   30267  385000  387500  383500  387500
3002 2022-08-04   24225  388000  389500  383500  384500
3003 2022-08-05   26817  386500  391000  385000  389000
3004 2022-08-08   28337  389000  394500  386000  394500
3005 2022-08-09  265521  402000  437000  402000  428500
3006 2022-08-10   66726  426500  428500  414500  423500